{{> head }}

{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Capitan america</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quasi animi iure dolorum commodi fugiat illo minima sed ullam hic tempora. Illo, fugit! Sunt pariatur eius, numquam amet vero architecto?
        </p>
    </div>

    <div class="col-4">
        <img src="asset/img/imagen-001.png" class="img-thumbnail">
    </div>


</div>

{{> footer }}